<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_auction_planner_root"
              name="Auction Planner"
              sequence="30"
              web_icon="auction_planner,static/description/icon.png"/>

    <menuitem id="menu_auction_planner_plans"
              name="Plans"
              parent="menu_auction_planner_root"
              action="auction_planner.action_auction_planner"
              sequence="1"/>
</odoo>
