<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="action_launch_auction" model="ir.actions.act_url">
            <field name="name">Launch Auction</field>
            <field name="url">/auction/display_auction</field>
            <field name="target">new</field>
        </record>

        <record id="action_print_players_cards" model="ir.actions.act_url">
            <field name="name">Players Card</field>
            <field name="url">/player_card/download_images</field>
            <field name="target">new</field>
        </record>


        <record id="action_view_auction_details" model="ir.actions.act_url">
            <field name="name">Auction Points Table</field>
            <field name="url">/auction/show/team/balance</field>
            <field name="target">new</field>
        </record>

         <record id="action_live_updates" model="ir.actions.act_url">
            <field name="name">Live Updates</field>
            <field name="url">/live_updates</field>
            <field name="target">new</field>
        </record>

        <!-- Define the menu item -->

        <menuitem id="menu_action_auction_root"
          name="Auction Settings"
          sequence="20" web_icon="auction_module,static/src/description/auctions_settings.png"/>

        <menuitem id="menu_action_launch_auction_root"
          name="Player Showcase"
          action="action_launch_auction"
          sequence="21" web_icon="auction_module,static/src/description/auction.png"/>

        <menuitem id="menu_action_auction_auction"
          name="Auction"
          parent="menu_action_auction_root"
          sequence="1"/>

        <menuitem id="menu_action_auction_player"
          name="Players"
          parent="menu_action_auction_root"
          sequence="2"/>

        <menuitem id="menu_action_auction_draft_players"
          name="Draft"
          parent="menu_action_auction_player"
          action="action_auction_team_player_draft"
          sequence="1"/>

        <menuitem id="menu_action_auction_active_players"
          name="Players in Auction"
          parent="menu_action_auction_player"
          action="action_auction_team_player_auction"
          sequence="2"/>

        <menuitem id="menu_action_auction_team_key_player"
          name="Icon Players"
          parent="menu_action_auction_player"
          action="action_auction_team_key_player"
          sequence="3"/>

         <menuitem id="menu_action_auction_sold_players"
          name="Players Sold"
          parent="menu_action_auction_player"
          action="action_auction_team_player_sold"
          sequence="4"/>



        <menuitem id="menu_action_auction_unsold_players"
          name="Unsold Players"
          parent="menu_action_auction_player"
          action="action_auction_team_player_unsold"
          sequence="5"/>


        <menuitem id="menu_action_auction_unpaid_players"
          name="Unpaid Players"
          parent="menu_action_auction_player"
          action="action_auction_team_player_unpaid"
          sequence="6"/>

        <menuitem id="menu_action_auction_team_player_jersy"
          name="Players-Jersy"
          parent="menu_action_auction_player"
          action="action_auction_team_player_jersy"
          sequence="7"/>

        <menuitem id="menu_action_auction_conf"
          name="Configuration"
          parent="menu_action_auction_root"
          groups="auction_module.group_auction_group_admin"
          sequence="4"/>

        <!--<menuitem id="menu_action_launch_auction"
          name="Launch Auction"
          parent="menu_action_auction_auction"
          action="action_launch_auction"
          sequence="1"/>
-->
        <menuitem id="menu_action_auction_start_auction"
          name="Auction Rules Setup"
          parent="menu_action_auction_auction"
          groups="auction_module.group_auction_group_admin"
          action="action_auction_start_auction"
          sequence="2"/>

        <menuitem id="menu_action_auction_auction1"
          name="Auction Team(s)"
          parent="menu_action_auction_auction"
          action="auction_module.action_auction_auction"
          sequence="1"/>

        <menuitem id="menu_action_auction_view_points"
          name="Auction Bid Summary"
          parent="menu_action_auction_auction"
          action="auction_module.action_view_auction_details"
          sequence="3"/>


        <menuitem id="menu_action_live_updates"
          name="Auction Live Updates"
          parent="menu_action_auction_auction"
          action="auction_module.action_live_updates"
          sequence="4"/>

        <menuitem id="menu_action_team_pool_wizard"
          name="Pool Generator"
          parent="menu_action_auction_auction"
          action="auction_module.action_team_pool_wizard"
          sequence="5"/>


        <menuitem id="menu_action_auction_tournament"
          name="Tournament(s)"
          parent="menu_action_auction_conf"
          action="action_auction_tournament"
          groups="auction_module.group_auction_group_admin"
          sequence="1"/>




        <menuitem id="menu_action_auction_team"
          name="Team(s)"
          parent="menu_action_auction_conf"
          action="action_auction_team"
          groups="auction_module.group_auction_group_admin"
          sequence="2"/>


        <!--<menuitem id="menu_action_auction_reporting"
          name="Reporting"
          parent="menu_action_auction_root"
          groups="auction_module.group_auction_group_admin"
          sequence="3"/>

        <menuitem
            id="menu_print_player_card"
            name="Print Player Card"
            parent="auction_module.menu_action_auction_reporting"
            action="action_print_players_cards"
            sequence="10"
            groups="auction_module.group_auction_group_admin"
        />-->

        <!-- history menu -->

         <menuitem
            id="menu_action_auction_history_tree"
            name="Auction History"
            parent="mail.mail_menu_technical"
            action="action_auction_history_tree"
            sequence="10"
            groups="auction_module.group_auction_group_admin"
        />


    </data>
</odoo>
